* {
  box-sizing: border-box;
}

element.style {
  margin-bottom: 0;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
}

#body {
  background-image: url("/img/jpg/clouds.jpg");
  background-size: 130%;
}

form {
  width: 100%;
  display: flex;
}

.container {
  width: 100%;
  color: #fff;
}

.weather-card {
  margin: 10vw auto;
  width: 50vw;
  height: 30vw;
  border-radius: 0.2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  background: linear-gradient(
    -225deg,
    #8dc8ff7d 0%,
    #c5dadb3f 48%,
    #a8ecff39 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

#current-date-time {
  opacity: 60%;
  margin: 0 0 -1rem 0;
}

#search {
  width: 90%;
  height: 70%;
  border: 0;
  border-radius: 0.4rem;
  margin: 2vw 0 0 5%;
  font-size: 1rem;
  opacity: 60%;
  background-color: #0064a0;
  color: #fff;
}
#search::placeholder {
  color: #fff;
}

#geo-button {
  padding: 2.5vw 2vw 0 1vw;
  border: 0;
  background-color: transparent;
  color: #fff;
  opacity: 50%;
}
#geo-button:hover {
  color: #cebdc7;
}
.weather-card ::placeholder {
  opacity: 50%;
  padding: 1vw;
}
#fake-temperature {
  font-size: 3rem;
  margin: 0.5rem 0 0;
  font-weight: 800;
}

.temperature-letters {
  float: right;
  margin-top: 1rem;
}

.fake-temperature-container {
  text-align: center;
  margin: 0.4rem 0 -0.4rem;
}

#fake-temperature {
  display: inline;
}

#celsius-fahrenheit,
.celsius {
  font-size: 1rem;
  display: inline;
  text-decoration: none;
  color: #fff;
}

#celsius-fahrenheit:hover {
  color: #cebdc7;
}

.middle-section {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  align-items: center;
  gap: 8vw;
  margin-top: 1vw;
  margin: 1vw 3.5vw 0;
}

#current-city {
  font-size: 3.5rem;
  color: #cebdc7;
  font-weight: 800;
}

#current-day {
  margin-top: -0.5rem;
}

.info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: -4vw;
}

.current-city {
  margin-top: 1vh;
}

.current-day {
  font-size: 1.2rem;
}

.current-date-time {
  font-size: 0.8rem;
  text-align: center;
}

.current-weather-section {
  display: flex;
  align-items: center;
}

.info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.weather-icon {
  margin-left: -5%;
  width: 50%;
}

.bottom-section {
  display: flex;
  padding: 4vw 0vw 0;
}

.weather-forecast-one,
.weather-forecast-two,
.weather-forecast-three,
.weather-forecast-four,
.weather-forecast-five {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-forecast-icon {
  width: 30%;
}

.forecast-text {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0;
}
#links {
  width: 100%;
  align-items: center;
  background-color: #0064a0;
  bottom: 0;
  left: 0;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-size: 1rem;
  position: fixed;
  height: 1.5rem;
  justify-content: center;
  opacity: 60%;
}

.social-icons {
  padding: 0.2rem;
}

.social-links {
  color: #fff;
}
.social-links:hover {
  color: #474747;
}

@media (min-width: 1301px) and (max-width: 1500px) {
  body {
    background-size: 150%;
  }

  .weather-card {
    height: 36vw;
    width: 60vw;
  }

  .middle-section {
    margin-top: 1vw;
    margin: 1vw 4vw 0;
  }
}
@media (min-width: 1201px) and (max-width: 1300px) {
  body {
    background-size: 150%;
  }
  .current-city {
    font-size: 1.8rem;
  }

  .weather-card {
    height: 40vw;
    width: 60vw;
  }
}
@media (max-width: 1200px) {
  #fake-temperature {
    font-size: 3.5rem;
    margin: 0.5rem 0 0;
    font-weight: 800;
  }
  body {
    background-size: 150%;
  }
  .current-city {
    font-size: 1.8rem;
  }

  .weather-card {
    height: 42vw;
    width: 60vw;
  }

  .middle-section {
    margin-top: 1vw;
    margin: 1vw 4vw 0;
  }
}

@media (min-width: 579px) and (max-width: 650px) {
  body {
    background-size: 200%;
  }
  .current-city {
    font-size: 1.8rem;
  }

  .weather-card {
    height: 60vw;
    width: 80vw;
  }
}

@media (min-width: 535px) and (max-width: 578px) {
  body {
    background-size: 220%;
  }
  .weather-card {
    height: 65vw;
    width: 80vw;
  }
}

@media (min-width: 745px) and (max-width: 1000px) {
  #fake-temperature {
    font-size: 4rem;
  }
  .temperature-letters {
    display: block;
    float: left;
    margin-top: -0.4rem;
    margin-left: 1rem;
  }
}

@media (min-width: 300px) and (max-width: 744px) {
  #fake-temperature {
    font-size: 4rem;
    margin: 0.5rem 0 0;
  }
  .temperature-letters {
    display: block;
    float: left;
    margin-top: -0.4rem;
    margin-left: 1.2rem;
  }
}

@media (min-width: 419px) and (max-width: 534px) {
  body {
    background-size: 250%;
  }
  #fake-temperature {
    font-size: 2.2rem;
  }
  .weather-card {
    height: 80vw;
    width: 95vw;
  }
}

@media (min-width: 401px) and (max-width: 418px) {
  body {
    background-size: 270%;
  }
  #fake-temperature {
    font-size: 2.2rem;
  }

  .weather-card {
    height: 85vw;
    width: 95vw;
  }
}
